.nav-menu {
  height: inherit;
  padding: 15px;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
}

.footer {
  height: inherit;
  padding: 15px;
  margin-top:25px;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
}

.breadcrumbs {
  padding: 15px;
}

a {
  text-decoration: none !important;
  color: #565656;
}

.logo {
  float: left;
  width: 100px;
  height: 29px;
  background: url('https://www.triider.com.br/img/logo_header.svg') no-repeat center;
}

.graybg{
  background: rgba(238, 238, 238, 0.5);
}
.whitebg{
  background-color: white;
}

